

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #59C173;  
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    line-height: 1.6;
    overflow-y: overlay;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; 
}

.container{
    width: 100%;
    height: 100%;

}
.navbar-brand{
    color:purple !important;
}
.navbar{
    opacity: 0.9;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}
#home{
    height: 100vh;
}
#home h1{
    font-size: 30px;
    line-height: 2.3;
}
#home strong{
    color: purple;
}
#home p{
    font-size: 20px;
}
.profilePic{
    width: 190px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 10px 30px 10px;
}
#about{
    height: 100vh; 
}
#projects{
    height: 100vh; 
}
#contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact a i{
    font-size: 50px;
    margin: 10px 10px 0px 10px;
    color: white;
}
#contact a i:hover{
    color: rgb(224, 223, 223);
}
footer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}