

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #59C173;  
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* height: 100vh; */
    /* overflow: hidden; */
    line-height: 1.6;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; 
}

.container{
    width: 100%;
    height: 100%;

}

.navbar{
    opacity: 0.9;
}
.navbar-brand strong{
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}

#home{
    height: 100vh;
    margin-bottom: 30vh;
}
#home h1{
    font-size: 30px;
    line-height: 2.3;
}
#home strong{
    color: purple;
}
#home p{
    font-size: 20px;
}
.profilePic{
    width: 190px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 10px 30px 10px;
}
#about{
    height: 130vh; 
}
#about h1{
    height: 80px;
}
.row{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    width: 80%;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}
.about_title{
    align-items: center;
    display: flex;
    flex-direction: row;

}
.title_content{
    color: white;
    align-items: left;
    text-align: left;
    line-height: 1;
    text-indent: 10px;
}
.title_content h3{
    font-size: 23px;
    line-height: 2;
    text-indent: 15px;
}
.title_content p{
    font-size: 16px;
    line-height: 1;
    text-indent: 15px;
}


.about_content{
    line-height: 1;
    text-align: left;
    padding-top: 10px;
}

strong{
    color: #7C90FE;
}
.UTSC{
    width: 100px;
    height: 100px;
}
.FC{
    width: 100px;
    height: 100px;
}
#projects{
    height: 130vh; 
}
#projects h1{
    line-height: 3;
}
.card{
    background: rgba(0, 0, 0, 0.3);
}
.card-body{
    color: black;
}
.card-img-top{
    height: 12rem;
}
.card-title{
    color: black;
    font-weight: 500;
}
.card-text{
    color: white;
}

#contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#contact a i{
    font-size: 50px;
    margin: 10px 10px 0px 10px;
    color: white;
}
#contact a i:hover{
    color: rgb(224, 223, 223);
}
