

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #59C173;  
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden; 
}

.container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.menu{
    position: fixed;
    opacity: 0.8;
    top: 0;
    z-index: 1; /*always on top of the content*/
    display: flex;
    width: 98%;
    height: 60px;
    background: #59C173;  
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 

}
.menu ul{
    display: flex;
    list-style: none; /* Remove bullets*/
    width: 100%;
    justify-content: center; /* in the center*/
}
.menu ul li{
    margin: 0 1rem;
    padding: 1rem;

}
.menu ul li a{
    color: rgb(226, 220, 220);
    font-size: 18px ;
    text-decoration: none;
}
.menu ul li a:hover{
    color: white;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}
#home{
    height: 100vh;
}
#home h1{
    font-size: 30px;
    line-height: 2.3;
}
#home strong{
    color: purple;
}
#home p{
    font-size: 20px;
}
.profilePic{
    width: 190px;
    height: 200px;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto;  */
    border-radius: 50%;
    margin: 10px 10px 30px 10px;
    
}
#about{
    height: 100vh; 
}
#projects{
    height: 100vh; 
}
#contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact a i{
    font-size: 50px;
    margin: 10px 10px 0px 10px;
    color: white;
}
footer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}